@import "tailwindcss";

:root {
  --background-color: #f0f9ff; /* AliceBlue-ish, slightly more vibrant */
  --primary-color: #0f766e; /* Teal 700 */
  --secondary-color: #0ea5e9; /* Sky 500 */
  --accent-color: #f59e0b; /* Amber 500 */
  --text-color: #1a202c; /* Gray 900 */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
